@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../../fonts/ofont.ru_HelveticaNeue.woff2') format('woff2'),
    url('../../fonts/aghelveticacyr-boldoblique.woff2') format('woff2'),
    url('../../fonts/aghelveticacyr-boldoblique.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}
